name: pik
channels:
  - anaconda
  - conda-forge
  - defaults
  - pytorch
  - nvidia
dependencies:
  - python=3.9
  - datasets
  - accelerate
  - sentencepiece
  - pytorch
  # - pytorch-cuda=11.7  # Select a CUDA version compatible with your hardware
  # - pytorch-gpu
  - boto3
  - python-dotenv
  - pytest
  - pip
  - pip:
    - git+https://github.com/huggingface/transformers.git@60d51ef5123d949fd8c59cd4d3254e711541d278
    # This is a commit hash for transformers that has a LLaMA implementation
    # TODO: change this to a release version once it's available
